<div class="centered-container">
  <div class="base-container">
    <h1 class="form-title">Change Password</h1>
    <form [formGroup]="changePasswordForm">
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput type="password" placeholder="Enter new password" required formControlName="newPassword">
        <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('minLength')">
          Password must be at least 8 characters long
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('maxLength')">
          Password cannot be longer than 20 characters
        </mat-error>
        <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('whitespace')">
          Password cannot contain whitespace characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" placeholder="Confirm password" required formControlName="confirmPassword">
        <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].hasError('passwordsNotMatching')">
          Passwords are not matching
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="errorMessage !== ''">
        {{errorMessage}}
      </mat-error>
      <button mat-raised-button color="primary" type="submit" (click)="submitForm()" [disabled]="changePasswordForm.invalid">Login</button>
    </form>
  </div>
</div>
