<h2 mat-dialog-title>Create an organization</h2>
<mat-dialog-content>
  <form class="organization-form">
    <mat-form-field appearance="outline" class="full-width first-field">
      <mat-label>Organization name</mat-label>
      <input matInput required placeholder="Input organization name" [(ngModel)]="organizationName" name="organizationName" maxlength="30"/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Input organization description" [(ngModel)]="organizationDescription" name="organizationDescription" maxlength="100"></textarea>
    </mat-form-field>

    <div class="upload-container">
      <label for="fileInput" class="file-label">Upload image</label>
      <input
        id="fileInput"
        type="file"
        required
        (change)="onFileSelected($event)"
        accept="image/*"
      />
    </div>

    <div *ngIf="imagePreview" class="image-preview">
      <img [src]="imagePreview" alt="Preview image" class="preview-img" />
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="isUploading || !organizationName || !imagePreview">
    {{ isUploading ? 'Creating...' : 'Save' }}</button>
</mat-dialog-actions>
