name: Build & Push Angular Docker Image

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - 'front/**'

jobs:
  build-and-push:
    if: github.base_ref == 'main' && github.head_ref == 'dev'
    runs-on: ubuntu-latest

    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract tag from PR title
        id: extract_tag
        run: |
          echo "PR_TITLE=${{ github.event.pull_request.title }}" >> $GITHUB_ENV
          TAG=$(echo "${{ github.event.pull_request.title }}" | grep -oE "v[0-9]+(\.[0-9]+)*")
          if [ -z "$TAG" ]; then
            echo "âŒ Tag (vX.Y.Z) not found in PR title!"
            exit 1
          fi
          echo "TAG=$TAG" >> $GITHUB_ENV
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      - name: Build Docker image for Angular (with nginx)
        run: |
          docker build -t $DOCKERHUB_USERNAME/uks-front:${{ steps.extract_tag.outputs.tag }} ./front

      - name: Push image to Docker Hub
        run: |
          docker push $DOCKERHUB_USERNAME/uks-front:${{ steps.extract_tag.outputs.tag }}
