name: Build and Push Angular App

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: app-front

    steps:
      - name: Checkout PR source branch (dev)
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Extract version from PR title
        id: extract_tag
        run: |
          echo "PR title: ${{ github.event.pull_request.title }}"
          VERSION=$(echo "${{ github.event.pull_request.title }}" | grep -oP 'v\d+\.\d+\.\d+')
          if [ -z "$VERSION" ]; then
            echo "âŒ No version tag found in PR title (expected format: vX.Y.Z)"
            exit 1
          fi
          echo "TAG=$VERSION" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ steps.extract_tag.outputs.TAG }} ./front
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.IMAGE_NAME }}:${{ steps.extract_tag.outputs.TAG }}
